@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-work: var(--font-workSans);
  --font-ovo: var(--font-ovo);
  --font-roboto: var(--font-roboto);
  --font-jos: var(--font-jos);
  --font-prompt: var(--font-prompt);
  --font-poppins: var(--font-poppins);
  --color-lightHover: '#fcf4ff';
  --color-darkHover: '#2a004a';
  --color-darkBg: #131314;
  --color-darkBg2: #11031f;
}

@custom-variant dark (&:where(.dark, .dark *));

html{
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb { /* Dark color for the thumb */
  background-color: #232325;
}

::-webkit-scrollbar-track { /* Dark color for the track */
  background-color: #00000047; 
  /* @apply bg-white */
}
