@import "tailwindcss";

:root {
  --background: #FDFAF6;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-work: var(--font-workSans);
  --font-ovo: var(--font-ovo);
  --font-roboto: var(--font-roboto);
  --font-jos: var(--font-jos);
  --font-prompt: var(--font-prompt);
  --font-poppins: var(--font-poppins);
  --color-lightHover: '#fcf4ff';
  --color-darkHover: '#2a004a';
  --color-darkBg: #131314;
  --color-darkBg2: #11031f;
}

@custom-variant dark (&:where(.dark, .dark *));

html{
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #212121;
}

::-webkit-scrollbar-thumb {
  background-color: #3D3D3D;
}

.font-cg {
  font-family: var(--font-cormorantGaramond);
}

.font-ct {
  font-family: var(--font-crimsonText);
}

.font-mw {
  font-family: var(--font-merriweather);
}
